html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

div#root {
  height: auto;
  min-height: 100%;
  width: 100%;
  margin: 0;
  background: #02052f;
  font-family: 'Noto Sans', sans-serif;
  color: white;
}


